@model IEnumerable<Guest_Houses_Reservations.Models.House>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SmokingAllowed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PetsAllowed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NightlyPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DurationInHours)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SmokingAllowed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PetsAllowed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NightlyPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DurationInHours)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
